<!DOCTYPE html>
<html>
  <head>
    <title>Treatment plan</title>
  </head>
  <body>
    <h1>Treatment plan</h1>
    <!-- <% for (let i = 0; i < plans.length; i++) { %> -->
    <div style="margin-left: 24px">
      <strong>Plan: <%= plans[0].type %> </strong>
      <p>Description: <%= plans[0].description %></p>

      <% } %>
    </div>
  </body>
</html>
